# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de caché del editor
*.swp
*.swo
*.bak

# Archivos de log
*.log

# Build / producción 
dist/
build/

# Archivos temporales
*.tmp
*.temp

# IDEs
.vscode/
.idea/

# Imágenes grandes exportadas que no quieres subir (opcional)
assets/img/exports/
