/* Reset y tipografía */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.5s, color 0.5s;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Variables de tema */
:root {
  --bg-color: #f8faff;
  --text-color: #000;
  --primary-color: #cdb4ff;
  --accent-color: #b2d8f7;
  --menu-bg: #000;
  --menu-text: #fff;

  --dark-bg: #1c1c1c;
  --dark-text: #cdb4ff;
  --dark-primary: #6c63ff;
  --dark-accent: #3b3b6e;
}

body.dark-mode {
  --bg-color: var(--dark-bg);
  --text-color: var(--dark-text);
  --primary-color: var(--dark-primary);
  --accent-color: var(--dark-accent);
}
