:root {
  --bg-color: #f8faff;
  --sidebar-color: #e1e6ff;
  --primary-color: #cdb4ff;
  --text-color: #333;
}

body.dark-mode {
  --bg-color: #1c1c1c;
  --sidebar-color: #2c2c2c;
  --primary-color: #6c63ff;
  --text-color: #f5f5f5;
}
