:root {
  --color-bg: #000; /* antes era #111 */
  --color-accent: #7dd2f5;
  --color-accent-dark: #1a2a40;
  --color-text: #ffffff;
  --font-primary: "Poppins", sans-serif;
  --font-size-h1: 6rem;
  --font-size-p: 1.3rem;
  --nav-height: 70px;
  --carousel-arrow-size: 50px;
}
